---
import Layout from '~/layouts/Default.astro';
interface Frontmatter {
	title: string;
	description: string;
}
const posts = await Astro.glob<Frontmatter>('./writings/*.mdx');
---

<Layout
	title="Home in the Internet and You are always WELCOMED"
	description="Nothing much still got time to write some articles about programming as well shared my projects over `/projects`."
	date="Thu Nov 03 2022 16:02:40 GMT+0530 (India Standard Time)"
>
	<main>
		<h1 class="text-5xl">Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list">
			{
				posts.map(({ frontmatter: { title, description }, url }) => {
					return (
						<li class="text-xl text-black">
							<a href={url}> {title} </a>
						</li>
					);
				})
			}
		</ul>
	</main>
</Layout>
