---
import Layout from './Default.astro';

export interface Props {
	frontmatter: {
		title: string;
		description: string;
	};
}

const {
	frontmatter: { title, description },
} = Astro.props;
---

<Layout title={title} isArticle class="prose prose-invert" description={description}>
	<h1 class="text-6xl font-black not-prose mb-0 text-white">{title}</h1>
	<p class="text-slate-400">{description}</p>
	<slot />
</Layout>
